.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navlink{
  color:white;
  opacity:0.8;
}

.navlink:hover {
  color:white;
  opacity:1;
  text-decoration: none;
}

#navbar{
 background-image: url("https://images.vailresorts.com/image/upload/ar_4:3,c_fill,dpr_1.0,f_auto,g_auto,q_auto/v1/Vail/Heros/Products/Lodging/Stargazing/Snowcat%20Stargazing%20Hero.jpg");
 height:12vh;
}

#location-image{
  padding:5px;
}

#side-info{
  position: absolute;
  top:30vh;
  left:0vw;
}

#side-info-text{
  position: absolute;
  left:4vw;
}

#create-location-label{
  background-color: white;
  color:black;
}

#form-create-location{
  width:30vw;
}

#sign-up{
  width:25vw;
  color:black;
  background-color: white;
  padding:10px;
  margin:1px;
  position: absolute;
  left:35vw;
  top:35vh;
}
